body {
    background-color: #2e2e2e !important;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    margin-left: auto;
    margin-right: auto;
    /* border: #AAA 1px solid; */
    width: 1280px;
    padding: 10px;
    color: #CCCCCC;
}

form {
    margin-left: auto;
    margin-right: auto;
    /* border: #AAA 1px solid; */
    width: 600px;
    text-align: center;
}

.cntr {
    text-align: center;
}

.btn{
    background-color: #555555;
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}