@(cart: Set[Book])
@main("My cart"){
    <h1>Cart:</h1>
        @*<a href="@routes.BooksController.show(book.id)">@book.title</a>*@
        @*<p>Price: @book.price</p>*@
        @*<p>Author: @book.author</p>*@
    @*}*@
    @*<a href="@routes.BooksController.create()">Create Book</a>*@
    <div class="container">
            <!-- Example row of columns -->
        <ul class="list-group">
        @for(book <- cart) {
                <li class="list-group-item-dark">@book.title, Price: @book.price $</li>
        }
        </ul>
        <div class="form-row text-center">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-lg">Buy</button>
            </div>
        </div>
        <hr>
    </div> <!-- /container -->
}