@(books: Set[Book])

@main("Products"){
    <h1>All Books:</h1>
        @*<a href="@routes.BooksController.show(book.id)">@book.title</a>*@
        @*<p>Price: @book.price</p>*@
        @*<p>Author: @book.author</p>*@
    @*}*@
    @*<a href="@routes.BooksController.create()">Create Book</a>*@
    <div class="container">
            <!-- Example row of columns -->
        <div class="row">
            <div class="cntr">
        @for(book <- books) {
            <div class="col-md-4">
                <h2 id="prod1_name">@book.title</h2>
                <p id="prod1_desc">Price: @book.price $</p>
                <p id="prod1_desc">Author: @book.author</p>
                <div class="btn-group">
                    <a type="button" href="@routes.BooksController.addToCart(book.id)" class="btn btn-secondary">Add to cart</a>
                    <a type="button" href="@routes.BooksController.edit(book.id)" class="btn btn-secondary">Edit</a>
                    <a type="button" href="@routes.BooksController.delete(book.id)" class="btn btn-secondary">Delete</a>
                </div>
            </div>
        }
        </div>
        </div>
        <hr>
        <div class="cntr">
            <a type="button" href="@routes.BooksController.create()" class="btn btn-secondary btn-lg">Create new book</a>
        </div>

    </div> <!-- /container -->
}