@(books: Set[Book])

@main("Products"){
    <h1>All Books:</h1>
        @*<a href="@routes.BooksController.show(book.id)">@book.title</a>*@
        @*<p>Price: @book.price</p>*@
        @*<p>Author: @book.author</p>*@
    @*}*@
    @*<a href="@routes.BooksController.create()">Create Book</a>*@
    <div class="container">
            <!-- Example row of columns -->
        <div class="row">
        @for(book <- books) {
            <div class="col-md-4">
                <h2 id="prod1_name">@book.title</h2>
                <p id="prod1_desc">@book.price</p>
                <p><a class="btn btn-secondary" href="@routes.BooksController.addToCart(book.id)" role="button">Add to cart</a></p>
            </div>
        }
        </div>
        <hr>
    </div> <!-- /container -->
}