@()


@main("Home") {
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div role="main" class="inner-cover cntr">
            <h1 class="cover-heading">Home page.</h1>
            <p class="lead">So, there is no content here, fill free to fill it up. See that button below, it will take to to product list.</p>
            <p class="lead">
                <a href="@routes.HomeController.products" class="btn btn-lg btn-secondary">Learn more</a  >
            </p>
        </div>
    </div>
}
